@font-face {
  font-family: Jost;
  src: url(Jost-VariableFont.ttf);
}
html {
  scroll-behavior: smooth;
  font-family: Jost;
}
body {
  margin: 0%;
  background-color: rgb(206, 215, 243);
}
main {
  min-height: calc(100vh - 120px);
}
header {
  position: sticky;
  top: 0;
}
.header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  height: 20px;
  font-weight: 400;
}
.header a {
  text-decoration: none;
  color: royalblue;
}
.header a:hover {
  color: rgb(41, 67, 145);
}
.bt1 {
  font-size: 15px;
  width: 140px;
  height: 30px;
  border-radius: 10px;
  border-style: groove;
  background-color: rgb(255, 255, 255);
  border-color: royalblue;
}
.bt1:hover {
  color: rgb(187, 204, 255);
  border-color: rgb(187, 204, 255);
}
.title {
  color: royalblue;
  font-size: 100px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px;
}
.title div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title button {
  margin-top: 20px;
  font-size: 20px;
  padding: 10px 20px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  width: 170px;
}
.title button:hover {
  transition: 1s;
  transform: scale(1.1);
  box-shadow: 3px 0px 50px rgba(0, 0, 255, 0.2);
}
.title img {
  margin-left: 30px;
  border-radius: 20px;
}
.description {
  background-color: rgb(206, 215, 243);
  font-size: 20px;
  color: royalblue;
  margin: 40px;
  overflow: hidden;
}
.pig {
  border-radius: 20%;
  margin: 20px;
  float: left;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px;

  .icon {
    width: 200px;
    height: 120px;
    text-align: center;
    padding: 10px;
  }
}
.icon:hover {
  transition: 1s;
  transform: scale(1.1);
}
.rules {
  background-color: rgb(206, 215, 243);
  font-size: 70px;
  color: royalblue;
  justify-content: center;
  padding: 20px;
}
.rules2 {
  background-color: rgb(206, 215, 243);
  font-size: 20px;
  color: royalblue;
}
.footer {
  background-color: rgb(255, 255, 255);
  color: royalblue;
  height: 60px;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.info {
  width: 600px;
  color: royalblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 20px;
}
@media (max-width: 750px) {
  .header {
    color: brown;
  }
}
