@font-face {
  font-family: Jost;
  src: url(Jost-VariableFont.ttf);
}
html {
  scroll-behavior: smooth;
  font-family: Jost;
}
body {
  margin: 0%;
  background-color: rgb(206, 215, 243);
}
main {
  min-height: calc(100vh - 120px);
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
}
.header {
  background-color: rgb(255, 255, 255);
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  height: 55px;
  font-weight: 400;
}
.header a {
  text-decoration: none;
  color: royalblue;
}
.header a:hover {
  color: rgb(28, 43, 88);
}

.home {
  margin-top: 10px;
}
.home:hover {
  transition: 0.5s;
  transform: scale(1.2);
}

.title {
  color: royalblue;
  font-size: 100px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
}
.title div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.title button {
  margin-top: 20px;
  font-size: 25px;
  padding: 10px 30px;
  background-color: royalblue;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  width: 200px;
  -webkit-animation: pulsing 2s infinite;
  animation: pulsing 2s infinite;
}

@-webkit-keyframes pulsing {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}

@keyframes pulsing {
  0% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
  50% {
    -webkit-transform: scale(1, 1);
    transform: scale(1, 1);
  }
  100% {
    -webkit-transform: scale(0.8, 0.8);
    transform: scale(0.8, 0.8);
  }
}
.title button:hover {
  transition: 1s;
  transform: scale(1.1);
  box-shadow: 0px 0px 34px rgba(0, 0, 255, 0.5);
}
.title img {
  border-radius: 20px;
  position: relative;
  left: +400px;
  transition: left 0.5s;
  margin-top: 50px;
}
.title img.animate {
  left: 0;
}
.description {
  font-size: 20px;
  background-color: royalblue;
  color: rgb(255, 255, 255);
  padding: 30px;
  overflow: hidden;
}

.icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 40px;

  .icon {
    width: 200px;
    height: 120px;
    text-align: center;
    padding: 10px;
  }
}
.icon:hover {
  transition: 1s;
  transform: scale(1.1);
}
.rules {
  background-color: rgb(206, 215, 243);
  font-size: 70px;
  color: royalblue;
  justify-content: center;
  padding: 20px;
}
.rules2 {
  background-color: rgb(206, 215, 243);
  font-size: 20px;
  color: royalblue;
}
.footer {
  background-color: rgb(255, 255, 255);
  color: royalblue;
  height: 60px;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.info {
  width: 600px;
  color: royalblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 20px;
}

@media (max-width: 390px) {
  body {
    max-width: 768px;
  }
  .header a {
    font-size: 15px;
    color: royalblue;
  }
  .title {
    color: royalblue;
    font-size: 45px;
    font-weight: 600;
    display: inline;
  }
  .title div {
    align-items: center;
    margin-top: 40px;
  }
  .title button {
    margin-top: 20px;
    font-size: 20px;
    padding: 10px 20px;
    background-color: royalblue;
    color: white;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 170px;
  }
  .title img {
    display: flex;
    justify-content: center;
    width: 200px;
    height: 210px;
    margin-inline: 95px;
    margin-top: 20px;
    align-self: center;
  }

  .icons {
    margin: 20px;
  }
  .footer {
    font-size: 15px;
    justify-content: center;
    margin-top: 30px;
  }
  .info {
    font-size: 12px;
  }
}
