@font-face {
  font-family: Jost;
  src: url(Jost-VariableFont.ttf);
}
html {
  scroll-behavior: smooth;
  font-family: Jost;
}
body {
  margin: 0%;
  background-color: rgb(206, 215, 243);
}
main {
  min-height: calc(100vh - 120px);
}
header {
  position: sticky;
  top: 0;
}
.header {
  background-color: rgb(255, 255, 255);
  color: royalblue;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  padding: 20px;
  height: 20px;
  font-weight: 400;
}
.header a {
  text-decoration: none;
  color: royalblue;
}
.title {
  color: royalblue;
  font-size: 150px;
  font-weight: 600;
  justify-content: space-around;
  display: flex;
  align-items: center;
  margin: 30px;
  margin-bottom: 105px;
}
.description {
  background-color: royalblue;
  font-size: 50px;
  color: rgb(255, 255, 255);
  display: flex;
  justify-content: center;
}
.description2 {
  background-color: royalblue;
  font-size: 20px;
  color: rgb(255, 255, 255);
}
.footer {
  background-color: rgb(255, 255, 255);
  color: royalblue;
  height: 60px;
  font-size: 20px;
  text-align: center;
  padding: 10px;
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
}
.info {
  width: 600px;
  color: royalblue;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 10px;
  font-size: 20px;
}
